/* ABOUT TEAM STYLES */

.about {
	background-color: #efefef;
	padding: 100px 0;
	min-height: 100vh;
	h2 {
		text-align: center;
	}
	h3 {
		@include heading(3, 4rem, 700);
		color: #008ed6;
		width: 90%;
	}
	p {
		@include text(2, 1.8rem);
		color: $black-shade;
		font-weight: 300;
		width: 90%;
	}
}

.bioContainer {
	display: flex;
	flex-wrap: wrap;
}

.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 0;
}

.teamImage img {
	margin: 0 auto;
	object-fit: cover;
}

.mukka h3,
.mukka p,
.fenrir h3,
.fenrir p {
	text-align: right;
	width: 90%;
}

.mukka img,
.fenrir img {
	margin: 0 auto;
}

.bioText {
	flex: 1 1 400px;
}

.teamImage {
	flex: 1 0 350px;
	img {
		width: 350px;
		max-height: 350px;
		border-radius: 50%;
	}
}
