/* CONTACT STYLES */

.contact {
	background-color: #efefef;
	min-height: 100vh;
	padding: 100px 0;
	h2 {
		color: $blue-heading;
		text-align: center;
	}
}

.contactContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 100px 0;
}

.icon i {
	font-size: 5rem;
	color: $black-shade;
	display: flex;
	justify-content: center;
	transition: 400ms ease-in;
	&:hover {
		transform: scale(1.2);
	}
}

.contactLink a {
	color: $black-shade;
	font-weight: 400;
	padding-top: 50px;
}

.googleMap {
	display: flex;
	flex-basis: 40%;
	flex-wrap: wrap;
	justify-content: center;
	transition: 500ms ease-in;
	margin-top: 25px;
}

iframe:hover {
	box-shadow: 5px 5px 25px $black-shade;
}

/* FORM STYLES */

.formContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.formInfo {
	display: flex;
	flex-direction: column;
	h3 {
		font-size: 2.5rem;
		font-weight: 700;
	}
	p {
		font-size: 1.4rem;
		font-weight: 300;
	}
}

form {
	margin-top: 20px;
}

.inputContainer {
	position: relative;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size: 1.8rem;
	appearance: none;
	background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
	background-repeat: no-repeat;
	background-position: 95% center;
	width: 550px;
	border-radius: 5px;
	padding: 25px;
	background-color: #fff;
	color: $black-shade;
	border: 1px solid transparent;
}

input {
	display: flex;
	font-size: 1.8rem;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #fff;
	color: $black-shade;
	width: 550px;
	padding: 25px;
	margin-top: 20px;
	border-radius: 5px;
	border: 2px solid transparent;
	transition: background-color 0.3s ease-in-out;
}

textarea {
	width: 550px;
	margin-top: 20px;
	padding: 25px;
	font-size: 1.8rem;
	background-color: #fff;
	border: 1px solid transparent;
	color: $black-shade;
	border: 2px solid transparent;
	transition: background-color 0.3s ease-in-out;
}

input[type="submit"] {
	background-color: #709fc1;
	color: $off-white;
	text-transform: uppercase;
	font-size: 1.8rem;
	border: 1px solid $black-shade;
	transition: 300ms ease-in-out;
	&:hover {
		background-color: $black-shade;
		color: $off-white;
		font-weight: bold;
	}
}

input:focus,
textarea:focus {
	outline: none;
}

span {
	position: absolute;
	background-color: #c71585;
	transition: transform 0.1s ease;
}

.bottom,
.top {
	height: 1px;
	left: 0;
	right: 0;
	transform: scaleX(0);
}

.left,
.right {
	width: 1px;
	top: 0;
	bottom: 0;
	transform: scaleY(0);
}

.bottom {
	bottom: 0;
	transform-origin: bottom right;
}

input:focus ~ .bottom,
textarea:focus ~ .bottom {
	transform-origin: bottom left;
	transform: scaleX(1);
}

.right {
	right: 0;
	transform-origin: top right;
	transition-delay: 0.05s;
}

input:focus ~ .right,
textarea:focus ~ .right {
	transform-origin: bottom right;
	transform: scaleY(1);
}

.top {
	top: 0;
	transform-origin: top left;
	transition-delay: 0.15s;
}

input:focus ~ .top,
textarea:focus ~ .top {
	transform-origin: top right;
	transform: scaleX(1);
}

.left {
	left: 0;
	transform-origin: bottom left;
	transition-delay: 0.25s;
}

input:focus ~ .left,
textarea:focus ~ .left {
	transform-origin: top left;
	transform: scaleY(1);
}
