html,
body {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

h1 {
	@include heading(22px, 7rem, 700);
}

h2 {
	@include heading(56px, 5rem, 700);
	position: relative;
	color: $blue-heading;
	font-weight: 700;
}

h2::after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 46%;
	background: #c71585;
	width: 125px;
	height: 3px;
}

h3 {
	@include heading(22px, 3.6rem, 700);
}

h4 {
	@include heading(22px, 2.4rem, 400);
}

p {
	@include text(35px, 1.8rem);
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	@include text(0, 2rem);
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
	font-weight: bold;
	display: block;
}

img {
	display: block;
	max-width: 100%;
}

.wrapper {
	max-width: 90%;
	margin: 0 auto;
}

.desktop-hidden {
	display: none;
}
