header {
	background-image: url(../assets/Website-cover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	background-position: center;
	min-height: 80vh;
}

.hamburger,
.exitResponsive {
	display: block;
	font-size: 4rem;
	color: #fff;
}

.hamburger {
	padding-top: 50px;
}

.exitResponsive {
	text-align: center;
	padding-top: 25px;
}

.navigationContainer {
	position: absolute;
	right: 50%;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.menu ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 500ms ease-in;
	margin-top: 50px;
}

.menu ul a {
	font-size: 5rem;
	width: 100%;
	padding: 50px 0;
	color: $off-white;
	right: unset;
	text-decoration: none;
	text-transform: uppercase;
}

.logo {
	border-radius: 50%;
	width: 75px;
	min-height: 75px;
	margin-top: 50px;
	float: right;
}
