/* MEDIA QUERIES */

// edge case in contact section

@media screen and (max-width: 1250px) {
	.contactContainer {
		text-align: center;
	}

	.formContainer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.formInfo {
		text-align: center;
	}
}

/* TABLETS */

@media screen and (min-width: 700px) and (max-width: 1024px) {
	.teamImage img {
		margin-top: 50px;
		margin: 0 auto;
	}

	.bioText {
		order: 1;
	}

	.about {
		text-align: center;
		p {
			width: 100%;
		}
	}

	.mukka h3,
	.fenrir h3,
	.mukka .bioText p,
	.fenrir .bioText p {
		text-align: center;
	}

	.teamImage {
		display: flex;
		margin: 0 auto;
		align-self: center;
	}

	.dogServices {
		flex-direction: row;
		align-items: center;
		.card {
			margin: 25px auto;
		}
	}

	.contact {
		min-height: 50vh;
		padding: 50px 0;
		h3,
		p {
			text-align: center;
		}
	}

	.contactContainer {
		justify-content: space-around;
	}

	.servicesContainer {
		h3 {
			padding-top: 50px;
		}
	}

	.quote {
		padding: 0 10%;
	}

	.formContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.googleMap iframe {
		padding: 20px 0;
	}
}

//edge case
@media screen and (max-width: 850px) {
	.team h3 {
		width: unset;
	}
}

/* MEDIUM TO LARGE MOBILE */

@media screen and (max-width: 700px) {
	.hamburger,
	.exitResponsive {
		display: block;
		font-size: 4rem;
		font-weight: 800;
	}

	.hamburger {
		padding-top: 50px;
		color: $black-shade;
	}

	.exitResponsive {
		color: $off-white;
	}

	.navigationContainer {
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5);
		color: $off-white;
		text-align: center;
	}

	.menu ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: 500ms ease-in;
	}

	.menu ul a {
		font-size: 4rem;
		text-align: center;
		width: 100%;
		padding: 50px 0;
		color: $off-white;
	}

	.socialContainer i {
		margin: 50px 25px;
	}

	main {
		text-align: center;
	}

	.logo {
		margin-top: 30px;
	}

	.team {
		text-align: center;
	}

	.tyler {
		margin-top: 50px;
	}

	.teamImage {
		flex: unset;
		margin: 0 auto;
		img {
			margin: 0 auto;
		}
	}

	.bioText {
		order: 1;
	}

	.about p {
		width: 95%;
		padding: 0;
		text-align: center;
	}

	.team p,
	.team h3 {
		text-align: center;
	}

	ol.flickity-page-dots {
		padding-bottom: 100px;
	}

	.dogServices {
		flex-direction: column;
		align-items: center;
	}

	.dogServices .card .front {
		transition: none;
	}

	.dogServices .back {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}

	.pricing p {
		font-size: 1.8rem;
	}

	p.desktop-hidden {
		display: block;
		text-transform: uppercase;
		font-size: 2.5rem;
		font-weight: 700;
		padding-bottom: 10px;
		text-decoration: underline;
	}

	.servicesContainer {
		p {
			@include text(1.6, 1.8rem);
		}
	}

	.services,
	.gallery,
	.about,
	.contact,
	.contactContainer {
		padding: 50px 0;
	}

	.contact {
		h3,
		p {
			text-align: center;
		}
	}

	.contactContainer {
		display: flex;
		flex-direction: column;
	}

	.contact h2 {
		margin-bottom: 50px;
	}

	.contactLink a {
		padding: 25px 0 50px 0;
		text-align: center;
	}

	.formContainer {
		justify-content: center;
	}

	.googleMap iframe {
		padding: 20px 0;
		max-width: 350px;
		max-height: 350px;
	}

	input,
	select,
	textarea {
		width: 320px;
	}
}

// EDGE CASE

@media screen and (max-width: 500px) {
	.servicesContainer .social i {
		padding: 25px 0;
	}

	.dogServices {
		padding-top: 0;
	}
}

/* SMALL MOBILE */

@media screen and (min-width: 300px) and (max-width: 450px) {
	.menu ul a {
		font-size: 4rem;
	}

	.exitResponsive {
		margin-left: 10%;
		color: $off-white;
	}

	.carousel-cell {
		height: 300px;
	}

	.servicesContainer .social i {
		padding: 20px;
	}

	.dogServices .card {
		width: 250px;
		height: 250px;
		margin: 25px auto;
	}

	.servicesContainer h3 {
		padding-top: 50px;
	}

	.contact {
		margin: auto;
	}

	.googleMap iframe {
		padding-top: 20px;
		max-width: 300px;
		max-height: 300px;
	}

	footer {
		p,
		a {
			font-size: 1.4rem;
		}
	}
}
